h2 {
    text-align: center;
    font-size: 24px;
    color: white;
}

mat-card {
    width: 50%;
    margin: 0 auto;
}

img {
    display: block;
    width: 25%;
    margin: 20px auto;
}

@media screen and (max-width: 720px) {
    img {
        width: 75%;
    }
}