<h2>About Me</h2>
<section class="bio-section">
    <mat-card class="bio">
        <mat-card-header>
            <mat-card-title>Terry Price</mat-card-title>
            <mat-card-subtitle>Web Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/tprice.jpg" alt="Terry Price" />
        <mat-card-content>
            <p>
                I am a recent graduate of the Internet Applications and Web Development program at St Clair College.
                I began learning basic HTML, CSS and Javascript before taking the program but wanted to get a more 
                formal education. Durring my studies was when I developed a true passion for web design. I learned
                the basics of both front-end and back-end development as well as how to work in different project 
                management styles such as Agile, Waterfall and Hybrid. While I realized that I had a strong grasp of
                the front-end side of web development I decided to push myself to better understand the back-end by 
                creating my own environment with LAMP and MEAN stacks hosted on a Virtual Machine with VirtualBox 
                software. This helped me become more comfortable with dealing with database issues.
            </p>
        </mat-card-content>
    </mat-card>
</section>