.body {
    display: block;
    margin: 40px auto;
    width: 75%;
    height: 75%;
    border: 3px solid black;
}
.body p{
    display: block;
    margin: 10px 40px;
    line-height: 1.5;
    color: white;
    font-size: 25px;
}