<section class="body">
    <h1>Terry's Portfolio Site</h1>
    <article>
        <p class="intro">
            Hello and welcome to my portfolio site! Here, you can get to know what kind of technical
            skills I have, see the different coding languages I know and projects I've completed, and
            see my work experience. I hope you enjoy learning a bit more about me!
        </p>
        <p>
            Also feel free to check out my <a href="https://github.com/Tprice-90">GitHub</a> with this
            link!
        </p>
    </article>
</section>