<section class="body">
    <article>
        <img class="display" src="../../assets/img/tprice.jpg" />
        <p class="intro">
            Hello and welcome to my portfolio site! Here, I will display my web development knowledge
            as well as a sample of projects I have completed. I will also provide my work experience
            and languages and frameworks I have learned and use.
        </p>
        <p class="git">
            Also feel free to check out my <a href="https://github.com/Tprice-90">Github</a> repo
            for more projects I've worked on!
        </p>
    </article>
</section>