.body {
    display: block;
    margin: 0 auto;
    width: 75%;
}
p{
    line-height: 1.5;
    color: white;
    font-size: 20px;
    text-align: center;
}

.intro {
    margin-bottom: 40px;
}

article {
    width: 100%;
    margin-top: 10%;
    justify-content: center;
}

@media screen and (max-width: 740px) {
    .body {
        width: 100%;
    }

    p {
        font-size: 16px;
        line-height: 1;
        text-align: left;
        margin: 0 10%;
    }
}