<section class="body">
    <article>
        <p class="intro">
            Hello and welcome to my portfolio site! Here I will display my web development knowledge,
            including languages and frameworks I've learned. I will also give a brief bio on myself 
            and a list of projects I have worked on (Coming soon). Keep in mind, this site will never
            be finished. I plan on continuosly updating it as I learn more!
        </p>
        <p class="git">
            Also feel free to check out my <a href="https://github.com/Tprice-90">Github</a> repo
            for more projects I've worked on!
        </p>
    </article>
</section>